    이 곳은 edit 페이지 입니다.
    {{#hospital}}
        <form action="/hospitals/{{id}}/update" class="container" method="post">
            <input type="hidden" name="id" value="{{id}}">
            <input type="text" name="hospitalName"value="{{hospitalName}}">
            <button type="submit">Submit</button>
            <a href="/hospitals/new">New Hospital</a>
            <a href="/hospitals">Hospital List</a>
            <a href="/hospitals/{{id}}/delete">Delete</a>
        </form>
    {{/hospital}}